---
---
/* Useful shared variables */
$tablet-min: 600px;
$desktop-min: 768px;

* {
	box-sizing: border-box;
}

body {
	width: 80%;
	margin: auto;
	line-height: 1.2em;
	font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: monkeyIsland;
  src: url("{{ site.url }}/fonts/ONESIZE_.TTF");
}

ul {
	margin: 0.5vh;
	list-style-position: outside;
	padding-left: 0;
}

li {
	margin: 1vh;
}

header {
	text-align: center;
	font-family: monkeyIsland;
	border-bottom: dashed;
	padding-bottom: 15px;
	border-width: 0 0 5px 0;
}

header a {
	text-decoration: none;
	color: black;
}

header h1 {
	
	@media all and (min-width: $desktop-min) {
		font-size: 60px;
		margin-bottom: 40px;

	}

	@media all and (max-width: ($desktop-min - 1px)) {
		font-size: 9vw;
		margin-bottom: 3.5vw;
	}
}

header h2 {
	@media all and (min-width: $desktop-min) {
		font-size: 30px;
	}

	@media all and (max-width: ($desktop-min - 1px)) {
		font-size: 4.5vw;
	}
	margin: 0;
}

/* Underline h2 links on hover */
header h2 a {
	position: relative;
}

header h2 a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: -5px;
	left: 0;
	background-color: black;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

header h2 a:hover:after  {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#site-title a,
#site-title a:visited {
	color: #000000;
	text-decoration: none;
}

#site-title a:hover {
	font-style: italic;
}


.main {
	margin: auto;
}

a {
	color: #660000;
}

a:hover {
	color: black;
}

.entry-title {
	margin-bottom: 0.5vh;
}

.entry-date {
	color: #b1b1b1;
}

.entry-excerpt {
	margin-top: 0.5em;
}

.image {
	max-width: 90%;
	height: auto;
	position: relative;
	margin: 0 0 5vh 0;
}

.image img {
	max-width: 100% !important;
	height: auto;
	display: block;

}

.image .caption {
	text-align: center;
	color: #808080;
}

.twitter-tweets {
	display: inline-block;
}

/* Responsive Web Design Stuff */

/* Mobile Phones */
[class*="col-"] {
	float: left;
	width: 100%;
}

/* For tablets */
@media only screen and (min-width: $tablet-min) {
	.col-m-1 {width: 8.33%; }
	.col-m-2 {width: 16.66%; }
	.col-m-3 { width: 25%; }
	.col-m-4 { width: 33.33%; }
	.col-m-5 { width: 41.66%; }
	.col-m-6 { width: 50%; }
	.col-m-7 { width: 58.33%; }
	.col-m-8 { width: 66.66% }
	.col-m-9 { width: 83.33%; }
	.col-m-10 { width: 83.33%; }
	.col-m-11 { width: 91.66%; }
	.col-m-12 { width: 100%; }
}

/* Desktop */
@media only screen and (min-width: $desktop-min) {
	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66% }
	.col-9 { width: 83.33%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

